<nav class="irem_navbar navbar navbar-expand-md fixed-top">
    <a class="navbar-brand " href="#">
        <!-- <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png" alt="Scroll or swipe for more"> -->
      <img src="{{baseurl_root}}/assets/images/logo.png" class="logo">
        IREMCAP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          {% if site.lang == "es" %}
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          {% elsif site.lang == "en"%}
            <a class="nav-link" href="/en/">Home <span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-link" href="/fr/">Accueil <span class="sr-only">(current)</span></a>
          {% endif %}
        </li>
        {% for item in site.translations[site.lang]["nav"] %}
            <li class="nav-item">
              {% if site.lang == "es" %}
                <a class="nav-link" href="/{{ item[1] }}">{{ item[1] | capitalize}}</a>
              {% else %}
                <a class="nav-link" href="/{{site.lang}}/{{ item[1] }}">{{ item[1] | capitalize}}</a>
              {% endif %}
            </li>
        {% endfor %}

      </ul>
      <!--{% capture nav %}{% t nav %}{% endcapture %}-->

      <!--{{ nav }}-->
      <!--{% for item in site.translations[site.lang]["nav"] %}-->
      <!--<p>{{ item[0] }} -> {{ item[1] }}</p>-->
      <!--{% endfor %}-->
      <!--nav.strategy-->
      <a class="btn-primary btn mt-2 mt-md-0">Contacto</a>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>