<nav class="irem_navbar navbar navbar-expand-md fixed-top">
    {% capture lang %}{{ page.lang }}{% endcapture %}
    <a class="navbar-brand " href="{{site.data[lang]['global']['root_url'}}">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/logo3.png" class="logo">
      <span class="d-none d-md-inline-block">IREMCAP</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        
        <!--<li class="nav-item active">-->
          <!--{% if lang == "es" %}-->
            <!--<a class="nav-link" href="{{site.url}}{{site.baseurl}}/">Inicio <span class="sr-only">(current)</span></a>-->
          <!--{% elsif lang == "en"%}-->
            <!--<a class="nav-link" href="{{site.url}}{{site.baseurl}}/en/">Home <span class="sr-only">(current)</span></a>-->
          <!--{% else %}-->
            <!--<a class="nav-link" href="{{site.url}}{{site.baseurl}}/fr/">Accueil <span class="sr-only">(current)</span></a>-->
          <!--{% endif %}-->
        <!--</li>-->
        {% for item in site.t[page.lang] %}
            <li class="nav-item">
              {% if lang == "es" %}
                <a class="nav-link" href="{{site.url}}{{site.baseurl}}{{ item[1].url }}">{{ item[1].name }}</a>
              {% else %}
                <a class="nav-link" href="{{site.url}}{{site.baseurl}}{{page.lang}}{{ item[1].url }}">{{ item[1].name }}</a>
              {% endif %}
            </li>
        {% endfor %}

      </ul>
      {% if lang == "es" %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/contacto/">Contacto</a>
      {% elsif lang == "en" %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/en/contact/">Contact</a>
      {% else %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/fr/contact/">Contact</a>
      {% endif %}
    </div>
</nav>