<nav class="irem_navbar navbar navbar-expand-md fixed-top">
    <a class="navbar-brand " href="{% t global.root_url %}">
      <img src="{{site.url}}{{site.baseurl}}/assets/images/logo.png" class="logo">
        IREMCAP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          {% if site.lang == "es" %}
            <a class="nav-link" href="{{site.url}}{{site.baseurl}}/">Inicio <span class="sr-only">(current)</span></a>
          {% elsif site.lang == "en"%}
            <a class="nav-link" href="{{site.url}}{{site.baseurl}}/en/">Home <span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-link" href="{{site.url}}{{site.baseurl}}/fr/">Accueil <span class="sr-only">(current)</span></a>
          {% endif %}
        </li>
        {% for item in site.translations[site.lang]["nav"] %}
            <li class="nav-item">
              {% if site.lang == "es" %}
                <a class="nav-link" href="{{site.url}}{{site.baseurl}}/{{ item[1] }}">{{ item[1] | capitalize}}</a>
              {% else %}
                <a class="nav-link" href="{{site.url}}{{site.baseurl}}/{{site.lang}}/{{ item[1] }}">{{ item[1] | capitalize}}</a>
              {% endif %}
            </li>
        {% endfor %}

      </ul>
      {% if site.lang == "es" %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/contacto/">Contacto</a>
      {% elsif site.lang == "en" %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/en/contact/">Contact</a>
      {% else %}
        <a class="btn-primary btn mt-2 mt-md-0" href="{{site.url}}{{site.baseurl}}/fr/contact/">Contact</a>
      {% endif %}
    </div>
</nav>