$lightish-blue: #457dfe;
$lightish-brown: #C5A480;
$black: #363636;
$pale-gold: #fecc73;
$seafoam-blue: #5ed1b0;
$white: #f6f6f6;
$blue: #045184;
$blue-hover: #3588CC;
$blue-background: #4F8CAE;
$petroleum-blue: #457dab;
