.cta-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &__link {
    background-color: $blue;
    border-radius: 3px;
    align-items: center;
    line-height: 50px;
    color: #f6f6f6;
    padding: 0 5em;
    margin: 1em;

    &:hover {
      background-color: $blue-hover;
    }
  }
}
