$site-content--margin-xs: 22px;
$site-content--margin: 64px;
$intro__headline-title--minHeight: 230px;
$toolbar--height: 50px;
$full-verticalHeight: calc(100vh - #{$toolbar--height});
$header-menu--height: calc(70% - #{$toolbar--height});
