.homepage-wrapper{
    //overflow-x: hidden;
    overflow: hidden;
    height: 850px;
    @include respond-to(md) {
        height: 100vh;
    }
}
.hero-subhero-wrapper{
    position: relative;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top,transparent,rgba(0,0,0,0.6));
    background-position: top right;
    background-repeat: no-repeat;
    z-index: 1;
    img {
        float:right;
    }
}

.hero-wrapper{
    position: relative;
    background-size: cover;
    background-position: bottom;
    height: auto;
    top: 0;
    width: 100%;
    padding-bottom: 90px;
    @include respond-to(sm) {
        max-height: 850px;
    }
    .content-wrapper{
        z-index: 100;
        position: absolute;
        top:0;
        padding: 15px;
        width: 60%;
        h1{
            font-size: 26px;
            line-height: 46px;
            margin-top: 65px;
            color: #fff;
            font-weight: 300;
            @include respond-to(md) {
                font-size: 56px;
                line-height: 76px;
            }
        }
    }
}

.subhero-wrapper {
    padding: 60px 0 60px 0;
    z-index: 10 !important;
    position: relative;

    video {
        top: 0;
        bottom: 0;
    }
    
    &:before {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: 300px;
        top: -130px;
        transform: skewY(-3deg);
        -webkit-transform: skewY(-3deg);
        background: url("#{$site_url}#{$site_baseurl}/assets/images/bkg_pattern.png");
        content: '';
        background-size: cover !important;
        background-position: top right;
        box-sizing: border-box;
    }

    

    

    // .mission {
    //     font-size: 30px;
    //     // background: rgba(255,255,255, 0.5);
    //     color: #fff;
    //     display: inline-block;
    //     clear: left;
    //     float:left;
    //     margin:0 15px;
    //     padding:5px;
    // }
}

.txt-primary {
    color: _palette(primary)!important;
}

.home-fp {
    height: 100vh;
    .carousel-item {
        height: calc(100vh - 150px);
        &__image {
            width: 100%;
            height: 100%;
        }
    }
    &__tagline {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        padding: 0 20px 20px 20px;
        text-shadow: #32353D 1px 1px;
        font-weight: 500;

        @include respond-to(lg) {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
}