.services {
  &__item {
    min-height: 20vh;
    &-odd {
      text-align: justify;
      display: flex;
      align-items: center;
      color: _palette(lightgray);
      background-color: #fff;
      padding: 60px 10px;
      @include respond-to(md) {
        padding: 90px 10px;
      }
    }
    &-even {
      text-align: justify;
      display: flex;
      align-items: center;
      color: _palette(lightgray);
      padding: 60px 10px;
      background: #d0e3f4; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #d0e3f4 0%, #b3d5f2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #d0e3f4 0%,#b3d5f2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #d0e3f4 0%,#b3d5f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      @include respond-to(md) {
        padding: 90px 30px;
      }
    }
  }
}
