.footer {
  background-image: url("images/common/footer.svg");
  // images/common/884346618.jpg
  // images/common/913661568.jpg
  height: 16vw;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: bottom;
//   background-color: $black;
//
//   p {
//     color: $white;
//     line-height: 1.5;
//     margin: 0 auto;
//     max-width: 1000px;
//     padding: 1em 0;
//
//     a {
//       color: inherit;
//
//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   }
}
