.contact-intro {
  min-height: 100vh;
  width: 100%;
  background-color: $white;
  padding-top: $header__menu__height + 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .banner {
    background-image: url("https://media.istockphoto.com/photos/interior-of-empty-warehouse-picture-id616244526?s=2048x2048");
  }
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 0;
  text-align: center;
  width: 90%;

  &__item {
    padding: 5px;
    color: $black;
    font-size: 16px;
  }
}

.markers {
  @include for-size(phone-only) {
    display: flex;
    flex-direction: column;
  }
  
  &-item {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    color: $black;
    cursor: pointer;
    display: inline;
    padding: 0.3em 0.5em;
    border-radius: 3px;
    margin: 0.3em;

    &::before {
      @include fa-icon();
      @extend .fa;
      color: $grey;
      content: fa-content($fa-var-map-marker);
      font-size: 1.2em;
      padding-right: 0.2em;
    }

    &:hover {
      border-color: transparentize($grey, 0.6);
    }

    &--checked {
      background-color: transparentize($grey, 0.6);
      border-color: $grey;

      &::before {
        color: $blue-hover;
      }
    }
  }
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px;
  width: 100%;
  height: 225px;

  @include for-size(desktop-up) {
    height: 450px;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

.contact-form {
  margin: 20px 20px 94px;
  width: 100%;
  height: 100%;

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--input,
    &--textarea,
    &--submit {

      @include for-size(desktop-up) {
        width: 40%;
      }

      border: 1px solid $black;
      border-radius: 3px;
      font-family: Lato, sans-serif;
      font-size: 16px;
      margin: 5px;
      padding: 10px;
      width: 70%;
    }

    &--textarea {
      height: 100px;
    }

    &--submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 160px;
      height: 50px;

      background-color: $blue;

      color: $white;
      border-radius: 3px;
      border-color: $blue;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}
