.intro {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include for-size(phone-only) {
    padding: $header__menu__height 30px 30px 30px;
  }

  &__logo {
    height: auto;
    max-width: 100%;
    margin-top: $header__menu__height + 70px;
    width: 356px;
  }

  &__slogan {
    text-shadow: 1px 1px $black;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
    color: $white;
  }
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  min-height: 100vh;
  background-color: $white;
}

.commitments {

  overflow: hidden;

  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: $black;
    padding: 40px;
    font-size: 30px;
  }

  &__list {
    margin-bottom: 50px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include for-size(tablet-portrait-up) {
      flex-direction: row;
    }
  }

  &__item {

    &--img {
      width: 150px;
      height: 120px;
    }

    &--text {
      line-height: 1.3;
      width: 60%;
      margin: 5px;
      color: $black;
      font-size: 20px;
    }

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &:after {
    content: "\A";
    display: block;
    margin: 0 auto 0;
    width: 50%;
    height: 3px;
    background-color: $blue;
  }
}

.text {

  &--text {
    padding: 50px;
    @include for-size(desktop-up) {
      padding: 50px 300px;
    }
    text-align: justify;
    line-height: 1.3;
    text-align: center;
    font-size: 20px;
    color: $black;
  }

  &:after {
    content: "\A";
    display: block;
    margin: 0 auto 0;
    width: 50%;
    height: 3px;
    background-color: $blue;
  }
}

.skills {
  width: 100%;
  max-width: 800px;
  padding: 100px 0;

  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;

  &__text {
    padding: 50px 100px 0 0;
    line-height: 20px;
    text-align: center;
    color: $black;
    font-size: 20px;
  }

  &-tip {
    color: $blue;
    font-weight: 600;
    padding-top: 1em;
  }

  &__list {
    margin-bottom: 50px;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include for-size(tablet-portrait-up) {
      flex-direction: row;
    }
  }

  &__item {
    &--img {
      width: 150px;
      height: 120px;
    }

    &--text {
      line-height: 1.3;
      width: 70%;
      margin: 20px;
      color: $black;
      font-size: 20px;
    }

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.skills-list {
	display: grid;
	grid-template-columns: repeat(3, 4rem);
	grid-gap: 9px;
	transform: rotate(45deg);

  &:hover {
    .skills-item {
    	opacity: .6;
    	filter: blur(1px);
    	transform: scale(.95, .95);
    }
  }

  .skills-item {
    border: 2px solid $blue;
    color: $blue;
    height: 4rem;
    width: 4rem;
  	transition: transform .2s cubic-bezier(.3, .50, .90, .7),
  		opacity .2s cubic-bezier(.3, .50, .90, .7),
  		filter .2s cubic-bezier(.3, .50, .90, .7);

    &:hover {
    	opacity: 1;
    	filter: none;
    	color: $blue;
    	transform: scale(1.2, 1.2);
    }

    &__title {
      display: none;
    }

    &__icon {
      display: grid;
      width: 100%;
      height: 100%;
      align-items: center;
      overflow: hidden;
      justify-content: center;
    }

    svg {
      fill: $blue;
      width: 3rem;
      height: 3rem;
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: $blue;
      border: none;

      svg {
        fill: $white;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
