.container {
  display:flex;
  flex-direction: column;
  &__Child{
    margin: 20px;
  }
}







.investment-focus{
  &-intro{
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    .banner {
      background-image: url("images/stock/alcala.jpg");
    }
  }

  &-subtitle{
    width: 90%;
    max-width: 800px;
    margin-bottom: 50px;
  
    &__p {
      color: $black;
      font-size: 20px;
      line-height: 1.3;
      padding: 50px 0 0;
      text-align: center;
    }
  }

  &__container{
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    margin: 0 2em;
    position: relative;
    line-height: 1.3;
    margin-bottom: 2em;

    &__Title{
      font-size: 23px;
    }

    &__UL{
      &__LI{
        padding: 0.5em 1.5em 1em 3em;

        &::before{
          @include fa-icon();
          @extend .fa;
          color: $grey;
          content: fa-content($fa-var-certificate);
          font-size: 1em;
          left: 0;
          line-height: 1.4;
          padding-left: 3.5em;
          position: absolute;
          transition-property: color;
          transition-duration: 0.3s;
        }
      }
    }

    &:hover {
      box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);

      .investment-focus__container__UL__LI::before{
        color: $blue-hover;
      }
    }
  }

  &__cta {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2em;

    @include for-size(phone-only) {
      .cta-button__link {
        width: 90%;
        margin: 1em auto;
      }
    }
  }

  &__contact{
    color: $blue;
    text-align: center;
  }
}
  