.team-intro {
  min-height: 100vh;
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .banner {
    background-image: url(https://media.istockphoto.com/photos/luxury-construction-hotel-swimming-pool-picture-id636668684?s=2048x2048);
  }
}

.team {
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px;

  @include for-size(tablet-landscape-up) {
    max-width: 780px;
  };

  &-grid {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
  }

  &__area {
    font-size: 26px;
    padding: 1em 0;
    text-align: center;
  }

  &__member {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    margin-bottom: 2em;
    padding: 40px;
    text-align: center;

    &:hover {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      background-color: white;
    }

    @include for-size(phone-only) {
      flex-grow: 1;
      padding: 20px 0px;
    }

    @include for-size(desktop-up) {
      padding: 30px 0;
      flex-basis: 33%;

      // &:nth-child(1),
      // &:nth-child(2) {
      //   flex-basis: 50%;
      // }
    }

    &--name {
      font-weight: bold;
      margin: 0.5em 0 0.1em;
    }

    &--name,
    &--description,
    &--email,
    &--phone {
      line-height: 1.3;
      font-size: 16px;
      color: $black;
    };

    &--email:hover {
      text-decoration: underline;
    }

    &--img {
      width: 70%;
      border-radius: 50%;
      min-height: 0;
    }
  }

  @include for-size(desktop-up) {
    &:first-of-type {
      .team__member:nth-child(1),
      .team__member:nth-child(2) {
        flex-basis: 50%;
      }
    }
  }
}

.team-member__info {
  flex-grow: 1;
  padding: 10px 0;
  
  p {
    margin: 0.5em 0 1em;
    line-height: 1.5;
  }
}

.team-member__social {
  li {
    
    a::before {
      @include fa-icon();
      @extend .fab;
      font-size: 1.2em;
    }

    &.linkedin {
      a {
        color: #0077b5;
        &:before {
          content: fa-content($fa-var-linkedin);
          padding-right: 0.2em;
        }
      }
    }
  }
}
