
@import "burger";

$rotation: -45deg;

body {
  @include for-size(tablet-portrait-up) {
    padding-top: 55px;
  }
}


// Header
// ==================================================
.header {

  // Toolbar
  // ==================================================

  // height: 49px;
  position: fixed;
  top: 0;
  transition: background-color 0.2s;
  width: 100%;
  z-index: 1;

  @include for-size(tablet-portrait-up) {
    // height: $header__menu__height;

    &.sticky {
      background-color: white;
      box-shadow: 0 0px 4px rgba(0,0,0,100);
      // padding-bottom: 14px;
    }

    // .site-logo {
    //   height: 27px;
    //   margin-top: 14px;
    // }
  }

  .site-logo {
    height: 27px;
    margin-top: 14px;
  }

  &__toolbar {
    display: flex;
    position: absolute;
    width: 100%;
  }

  &__menu {
    // height: 100vh;
    // flex: 1;
    // display: flex;
    // flex-direction: column;
    opacity: 0;
    display: none;
    transition: opacity 5s;

    @include for-size(tablet-portrait-up) {
      align-items: center;
      display: block;
    }

    &,
    a {
      @include for-size(tablet-portrait-up) {
        color: $blue !important;
      }

      color: white;
      text-decoration: none;
    }

    &.is-open {
      opacity: 1;
      display: block;

      .main-menu-list {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;

        .main-menu-list__item {
          margin: 0;
        }
      }
    }

    @include for-size(tablet-portrait-up) {
      align-self: flex-end;
      // height: $header__menu__height;
      opacity: 1;
      width: 100%;
    }
  }

  // Main Menu Block
  // ==================================================
  .main-menu {
    // flex: 3;
    // padding: $site-content--margin-xs/2 $site-content--margin-xs;
    background: $blue;
    // padding-top: $toolbar--height;

    @include for-size(tablet-portrait-up) {
      // width: 55%;
      background: transparent;
    }

    &-list {

      @include for-size(tablet-portrait-up) {
        flex-direction: row;
        justify-content: center;
      }

      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 20px;
        justify-content: center;

        @include for-size(tablet-portrait-up) {
          flex: 0;
          justify-content: space-between;
          line-height: 55px;
          margin: 0 25px;
        }

        &--home {
          a {
            background-image: url("../assets/images/iremcap_logo_blanco.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            text-indent: -99999px;
            height: 3em;
            width: 5em;

            @include for-size(tablet-portrait-up) {
              background-image: url("../assets/images/common/iremcap.svg");
              height: auto;
            }
          }
        }

        a {
          color: #f6f6f6;
          outline: none;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $blue-hover !important;
          }
        }
      }
    }
  }

  // Menu Footnote Block
  // ==================================================
  .menu-footnote {
    flex: 1;
    background: $black;
    font-size: 18px;
    padding: $site-content--margin-xs/2 $site-content--margin-xs;

    @include for-size(tablet-portrait-up) {
      padding: $site-content--margin/2 $site-content--margin;
    }

    &-list {
      display: flex;
      flex-direction: column;
      height: 100%;

      &__item {
        text-align: right;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

// Scroll down button for Page header
.scroll-down {
  bottom: 0;
  display: block;
  height: 70px;
  left:0;
  position: absolute;
  width: 100%;
  padding-top: 70px;
}

.scroll-down span {

  position: absolute;
  bottom: 70px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate($rotation);
  transform: rotate($rotation);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;

  border-bottom: 3px solid $lightish-brown;
  border-left: 3px solid $lightish-brown;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate($rotation) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate($rotation) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate($rotation) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate($rotation) translate(-20px, 20px);
    opacity: 0;
  }
}
