{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<header id="header" class="header">

    <!-- Toolbar -->
    <div class="header__toolbar">

        <div class="hamburger hamburger--collapse">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

    </div>

    <div class="header__menu">

        <!-- Main Menu -->
        <nav class="main-menu">
            <ul id="main-menu-list" class="main-menu-list">
              {% for link in site.data.navigation.main.[page.lang] %}
                <li class="main-menu-list__item">
                  {% if link.preText %}{{ link.preText }}{% endif %}
                  <a href="{{link.url | prepend: site.baseurl}}">
                    {% if link.img %}
                      <img src="{{ "assets/images/common/iremcap.svg" | relative_url }}" alt="{{link.title}}" class="site-logo" /></a>
                    {% else %}
                      {{link.title}}
                    {% endif %}
                  </a>
                  {% if link.postText %}{{ link.postText }}{% endif %}
                </li>
              {% endfor %}
            </ul>
        </nav>

    </div>

</header>
