{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<header class="header">

    <!-- Toolbar -->
    <div class="header__toolbar">

        <div class="hamburger hamburger--collapse">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

    </div>

    <div class="header__menu">

        <!-- Main Menu -->
        <nav class="main-menu">
            <ul class="main-menu-list">
                {% for link in site.data.navigation.main.[page.lang] %}
                <li class="main-menu-list__item">
                    <a href="{{link.url | prepend: site.baseurl}}">{{link.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

    </div>

</header>
