<div class="container-fluid clients d-flex justify-content-center flex-column">
  <h1 class="clients__title">Clientes</h1>
  <div class="row">

  <div class="col-10">
    <ul class="list-inline d-flex justify-content-between">
      <li class="list-inline-item">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/strategy_01.svg" alt="" class="icon">
      </li>
      <li class="list-inline-item">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/strategy_02.svg" alt="" class="icon">
      </li>
      <li class="list-inline-item">
        <img src="{{site.url}}{{site.baseurl}}/assets/images/strategy_03.svg" alt="" class="icon">
      </li>
    </ul>
  </div>
  </div>
</div>