{% assign pagedata = site.data[page.lang][page.ref] %}
<div class="contact">
  <div class="row justify-content-center">
    <h2 class="contact__title">Nuestros datos de contacto</h2>
    <div class="col-10 col-md-6 col-lg-3">
      <ul class="contact__list">
        <li class="contact__list-item">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a href="mailto:{{ pagedata.data.email.value}}">{{ pagedata.data.email.value }}</a>
        </li>
        <li class="contact__list-item">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:{{ pagedata.data.phone_es.value}}">{{ pagedata.data.phone_es.value }} ({{ pagedata.data.phone_es.label }})</a>
        </li>
        <li class="contact__list-item">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:{{ pagedata.data.phone_fr.value}}">{{ pagedata.data.phone_fr.value }} ({{ pagedata.data.phone_fr.label }})</a>
        </li>
        <li class="contact__list-item">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:{{ pagedata.data.phone_uy.value}}">{{ pagedata.data.phone_uy.value }} ({{ pagedata.data.phone_uy.label }})</a>
        </li>
        <li class="contact__list-item">
          <address>
            <i class="fa fa-home" aria-hidden="true"></i> {{ pagedata.data.address.value }}
          </address>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center d-md-none">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5886.980219283081!2d-3.684083449703771!3d40.42401702758132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228bd45e80f75%3A0xb46e43933cd3cb22!2sCalle+de+Castell%C3%B3%2C+23!5e0!3m2!1ses-419!2suy!4v1506018525941"
      width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="row justify-content-center d-none d-md-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5886.980219283081!2d-3.684083449703771!3d40.42401702758132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228bd45e80f75%3A0xb46e43933cd3cb22!2sCalle+de+Castell%C3%B3%2C+23!5e0!3m2!1ses-419!2suy!4v1506018525941"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>{{ pagedata.text_1 }}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <form action="https://formspree.io/{{ site.email }}" method="POST">
        <!--<div class="col-10 col-md-6">-->
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="{{site.baseurl_root}}/{{t thankyou_cb}}" />
        <input type="hidden" name="_subject" value="Correo desde la pagina" />
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="form-group col-10">
              <!--<div class="col-lg-8">-->
              <label for="name" class="sr-only">{{ pagedata.form.name }}</label>
              <input type="text" class="form-control" id="name" placeholder="{{ pagedata.form.name }}" name="name">
              <!--</div>-->
            </div>
            <div class="form-group col-10 ">
              <!--<div class="col-lg-8">-->
              <label for="email" class="sr-only">{{ pagedata.form.email }}</label>
              <input type="email" class="form-control" id="email" placeholder="{{ pagedata.form.email }}" name="_replyto">
              <!--</div>-->
            </div>
            <div class="form-group col-10">
              <!--<div class="col-lg-8">-->
              <label for="phone" class="sr-only">{{ pagedata.form.phone }}</label>
              <input type="text" class="form-control" id="phone" placeholder="{{ pagedata.form.phone }}" name="phone">
              <!--</div>-->
            </div>
            <div class="form-group col-12">
              <!--<div class="col-lg-8">-->
              <label for="msg" class="sr-only">{{ pagedata.form.message }}</label>
              <textarea class="form-control" rows="6" id="msg" name="{{ pagedata.form.message }}"></textarea>
              <!--</div>-->
            </div>
            <div class="col-4">
              <input type="submit" class="btn btn-primary mt-2 mt-md-0" value="{{ pagedata.form.btn_submit }}">
            </div>
          </div>
        </div>
        <!--</div>-->
      </form>
    </div>
  </div>
  <!--</div>-->
</div>