
<div class="container-fluid markets">
  <div class="row item spain justify-content-end">
    <article class="desc">
      <p class="wow fadeInUp">{% t markets.spain.text %}</p>
      <button class="btn btn-primary wow fadeInUp">Solicite más info <i class="fa fa-chevron-circle-right"></i></button>
    </article>
  </div>
  <div class="row item uruguay justify-content-start">
    <article class="desc">
      <p class="wow fadeInUp">{% t markets.uruguay.text %}</p>
      <button class="btn btn-primary wow fadeInUp">Solicite más info <i class="fa fa-chevron-circle-right"></i></button>
    </article>
  </div>

</div>
