<div class="services col-12 col-md-10 wow">
  {% for item in site.translations[site.lang]["services"]["list"] %}
    {% capture group %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="row services__item-{{ group }} wow fadeInUp">
      {% if group == 'odd' %}
      <div class="services__icon">
        <img src="{{site.url}}{{site.baseurl}}{{ item['item_icon'] }}" alt="">
      </div>
      <div class="services__desc">
        <p>{{ item['item_text'] }}</p>
      </div>
      {% else %}
      <div class="services__desc even">
        <p>{{ item['item_text'] }}</p>
      </div>
      <div class="services__icon">
        <img src="{{site.url}}{{site.baseurl}}{{ item['item_icon'] }}" alt="">
      </div>
      {% endif %}
    </div>
  <hr class="services__separator wow fadeInUp">
  {% endfor %}
</div>