---
layout: default
---

{% assign page_data = site.data.page__clients[page.lang] %}

<section class="clients-intro">

    {% include common/page_title.html
        title=page_data.title
        title-classes='title'
        container-classes=''
    %}

    <div class="clients-text">
      <p class="clients-text__p">{{ page_data.text }}</p>
    </div>
      
    <div class="clients">
        {% for item in page_data.clients %}
        <div class="clients-item">
            <h2 class="clients-item__title">{{ item.title }}</h2>
            <ul class="clients-item__keywords">
            {% for keyword in item.keywords %}
              <li class="clients-item__keywords-item">{{ keyword }}</li>
            {% endfor %}
            </ul>
            <div class="clients-item__cta">
              <p class="clients-item__question">{{ item.question }}</p>
              {% include common/cta_button.html cta=item.cta %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
