---
layout: default
---

{% assign page_data = site.data.page__contact[page.lang] %}

<section class="contact-intro">

    {% include common/page_title.html
        title=page_data.title
        title-classes='title'
        container-classes=''
    %}

    <div class="info">
      {% for address in page_data.info.addresses %}
        <span class="info__item">{{address}}</span>
      {% endfor %}
      <a class="info__item" href="mailto:{{ page_data.info.email }}">{{ page_data.info.email }}</a>
      {% for item in page_data.info.phones %}
        <a class="info__item" href="tel:{{item.phone}}">{{item.label}} {{item.phone}}</a>
      {% endfor %}
    </div>

    {% include common/form.html
        form-container-classes='contact-form'
        form-classes='contact-form__form'
        form-textarea-classes='contact-form__form--textarea'
        form-submit-classes='contact-form__form--submit'
        form-input-classes='contact-form__form--input'
        form=page_data.form
    %}

    <div class="map">
        <iframe class="map__iframe" src={{page_data.location}} allowfullscreen></iframe>
    </div>

</section>
