---
layout: default
---

{% assign page_data = site.data.page__contact[page.lang] %}

<section class="contact-intro">

    {% include common/page_title.html
        title=page_data.title
        title-classes='title'
        container-classes=''
    %}

    <div class="info">
      {% for location in page_data.locations %}
        <span class="info__item">{{ location.address }}</span>
      {% endfor %}
      <a class="info__item" href="mailto:{{ page_data.info.email }}">{{ page_data.info.email }}</a>
      {% for item in page_data.info.phones %}
        <a class="info__item" href="tel:{{item.phone}}">{{item.label}} {{item.phone}}</a>
      {% endfor %}
    </div>

    {% include common/form.html
        form-container-classes='contact-form'
        form-classes='contact-form__form'
        form-textarea-classes='contact-form__form--textarea'
        form-submit-classes='contact-form__form--submit'
        form-input-classes='contact-form__form--input'
        form=page_data.form
    %}

    <ul id="markers" class="markers"></ul>
    <div id="map" class="map"></div>

</section>
<script>
function initMap() {
  var locations = [];
  var markers = document.getElementById('markers');
  var li, i = 0;
  var checked = false;
  {% for location in page_data.locations %}
  locations.push({ label: '{{ location.label }}', pos: { lat: {{ location.lat }}, lng: {{ location.lng }} } });
  li = markers.appendChild(document.createElement('li'));
  li.appendChild(document.createTextNode(locations[i].label));
  li.dataset.marker = i++;
  li.className = 'markers-item';
  {% endfor %}
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: locations[0].pos
  });
  for (i = 0; i < locations.length; i++) {
    var marker = new google.maps.Marker({
      position: locations[i].pos,
      animation: google.maps.Animation.DROP,
      map: map
    });
  }
  var panTo = function (key) {
    if (key !== NaN && key !== checked) {
      var markersItems = markers.getElementsByClassName('markers-item');
      if (checked !== false) {
        markersItems.item(checked).classList.remove('markers-item--checked');
      }
      checked = key;
      markersItems.item(checked).classList.add('markers-item--checked');
      map.panTo(locations[key].pos);
    }
  };
  panTo(0);
  markers.addEventListener('click', function (ev) {
    ev.preventDefault();
    var key = parseInt(ev.target.dataset.marker);
    panTo(key);
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC-0zwHjp1PdTAnz9fNjBaiDgnZob0Wu4&amp;callback=initMap"></script>
