{% include core/head.html %}
{% include core/nav.html %}

<div class="home-fp" id="home">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                    <h3 class="home-fp__tagline">Iremcap nace de la suma y complementariedad de nuestras experiencias profesionales internacionales en el sector inmobiliario para crear un modelo de negocio donde tanto vendedor como comprador se benefician de un equipo pluridisciplinario al servicio de la creación de valor.</h3>
                    <p>
                        <a href="#" class="btn btn-primary">
                            Mas info
                        </a>
                    </p>
                </div>
                <img class="carousel-item__image" src="{{site.url}}{{site.baseurl}}/assets/images/stock-photo-aerial-view-over-punta-del-este-and-atlantic-ocean-on-sunset-uruguay-647676238.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3 class="home-fp__tagline">“Creamos vínculos inmobiliarios”</h3>
                    <p>
                        <a href="#" class="btn btn-primary">
                            Mas info
                        </a>
                    </p>
                </div>
                <img class="carousel-item__image" src="{{site.url}}{{site.baseurl}}/assets/images/stock-photo-big-city-night-life-527653387.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
                    <h3 class="home-fp__tagline">“Buscamos soluciones creativas respaldadas por nuestra experiencia, contactos y apoyadas en la tecnología a nuestro alcance”</h3>
                    <p>
                        <a href="#" class="btn btn-primary">
                            Mas info
                        </a>
                    </p>
                </div>
                <img class="carousel-item__image" src="{{site.url}}{{site.baseurl}}/assets/images/stock-photo-business-team-present-professional-investor-working-new-start-up-project-finance-managers-meeting-525065131.jpg" alt="Third slide">
            </div>
        </div>

    </div>
    {% include core/footer.html %}
</div>
