---
layout: default
---

{% assign page_data = site.data.page__home[page.lang] %}

<section class="intro">
  <img class="intro__logo" src="{{ site.data.page__home.logo | prepend: site.baseurl }}" alt="">
  {% include common/page_title.html
    title=page_data.slogan
    title-classes='intro__slogan'
    container-classes=''
  %}
  {% include common/cta_buttons.html
    ctas=page_data.ctas
  %}
</section>
<section class="overview">
  <div class="text">
    <p class="text--text">{{ page_data.text }}</p>
  </div>
  <div id="skills" class="skills">
    <p id="skills-text" class="skills__text">{{ page_data.skills.title }}</p>
    <div class="skills-list">
    {% for item in page_data.skills.list %}
      <div class="skills-item">
        <span class="skills-item__icon"><a href="{{ item.link | prepend: site.baseurl }}"><svg class="skills-item__img"><use xlink:href="#{{ item.icon }}" /></svg></a></span>
        <h3 class="skills-item__title">{{ item.text }}</h3>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
