{% include core/head.html %}
{% include core/nav.html %}
<div class="internal">
  <div class="internal__header">
    <h1 class="internal__header-title">Equipo</h1>
    <h3 class="internal__header-tagline">
      Nuestro grupo de trabajo es a la imagen del negocio que proyectamos. Personas que fueron
      todos empresarios por su cuenta, han decidido vivir, trabajar y concebir la vida según la frase
      de Jack London, <em>"La función propia del hombre es vivir, no existir”</em>
    </h3>
  </div>
  <div class="container-fluid team">
    <h2 class="team__title">Nuestro Equipo</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="team__box">
          <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" class="rounded-circle img-fluid" alt="">
          <h4 class="team__box-title">John Doe</h4>
          <h5>Founder</h5>
          <p>
            <a href="" class="btn">
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-envelope-o"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team__box">
          <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" class="rounded-circle img-fluid" alt="">
          <h4 class="team__box-title">John Doe</h4>
          <h5>Founder</h5>
          <p>
            <a href="" class="btn">
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-envelope-o"></i>
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team__box">
          <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" class="rounded-circle img-fluid" alt="">
          <h4 class="team__box-title">John Doe</h4>
          <h5>Founder</h5>
          <p>
            <a href="" class="btn">
              <i class="fa fa-linkedin"></i>
              <i class="fa fa-envelope-o"></i>
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
{% include core/footer.html %}