{% include core/head.html %}
{% include core/nav.html %}

{% assign pagetitle = page.title %}
{% assign object = site.translations[site.lang][pagetitle] %}
{% capture bg_class %}{{ page.title }}{% endcapture %}

<div class="internal">
  <div class="internal__header bg-{{bg_class}}">
    <h1 class="internal__header-title wow fadeInUp">
      {{ object.title }}
    </h1>
    <h3 class="internal__header-tagline wow fadeInUp">
      {{ object.tagline }}
    </h3>
  </div>
  <div class="internal__content container-fluid">
    {% if pagetitle == "strategy" %}
      {% include parts/strategy.html %}
    {% elsif pagetitle == "services" %}
      {% include parts/services.html %}
    {% elsif pagetitle == "markets" %}
      {% include parts/markets.html %}
    {% elsif pagetitle == "clients" %}
      {% include parts/clients.html %}
    {% elsif pagetitle == "news" %}
      {% include parts/news.html %}
    {% elsif pagetitle == "contact" %}
      {% include parts/contact.html %}
    {% endif %}

  </div>
</div>
{% include core/footer.html %}