---
layout: default
---

{% assign page_data = site.data.page__investment-focus[page.lang] %}

<section class="impact-investing-intro">
    {% include common/page_title.html
        title=page_data.title
        title-classes='title'
        container-classes='banner'
    %}

    <div class="investment-focus-subtitle">
        <p class="investment-focus-subtitle__p">{{ page_data.subtitle }}</p>
    </div>

    <div class="investment-focus">
        {% for item in page_data.items %}
        <div class="investment-focus__container">
            <h4 class="investment-focus__container__Title">{{ item.text}}</h4>
            <ul class="investment-focus__container__UL">
                {% for subitem in item.subitems %}
                <li class="investment-focus__container__UL__LI">{{subitem}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <div class="investment-focus__cta">
            <p class="investment-focus__contact">{{page_data.contact}}</p>
            {% include common/cta_button.html cta=page_data.cta %}
        </div>
    </div>
</section>