---
layout: default
---

{% assign page_data = site.data.page__services[page.lang] %}

<section class="services-intro">

  {% include common/page_title.html
    title=page_data.title
    title-classes='title'
    container-classes='banner'
  %}

  <div class="services">
    <div class="services-item">
      <h2 class="services-item__Title">{{ page_data.CIM_service.title }}</h2>
      <div class="services-item-container">
        {% for panel in page_data.CIM_service.panels %}
        <div class="services-item__Child services-accordion accordion-open">
          <h4 class="services-item__Child__Title">{{ panel.service_title}}</h4>
          <ul class="services-item__Child__UL">
            {% for item in panel.items %}
            <li class="panel-item">{{item.text}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="service--img_div">
      <h2 class="services-item__Title">{{ page_data.asset-life-cycle-title }}</h2>
      <img class="service--img" src="{{ page_data.asset-life-cycle-link }}" />
    </div>
    <div class="services-item">
      <h2 class="services-item__Title">{{ page_data.TEC_service.title }}</h2>
      {% for panel in page_data.TEC_service.panels %}
        <div class="services-item__Child services-accordion">
          <h4 class="services-item__Child__Title">{{ panel.service_title}}</h4>
          <ul class="services-item__Child__UL services-accordion__Child">
            {% for item in panel.items %}
              <li class="panel-item">{{item.text}}
              {% if item.subitems %}
                <ul class="panel-item__UL">
                {% for subitem in item.subitems %}
                  <li class="panel-item__UL__subitem">{{ subitem }}</li>
                {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>