---
layout: default
---

{% assign page_data = site.data.page__services[page.lang] %}

<section class="services-intro">

  {% include common/page_title.html
    title=page_data.title
    title-classes='title'
    container-classes=''
  %}

  <div class="services">
    {% for item in page_data.services %}
    <div class="services-item">
      <svg class="services-item__img"><use xlink:href="#{{ item.icon }}" /></svg>
      <p class="services-item__text">{{ item.text }}</p>
    </div>
    {% endfor %}
  </div>
</section>
