---
layout: default
---

{% assign page_data = site.data.page__team[page.lang] %}

<section class="team-intro">

    {% include common/page_title.html
        title=page_data.title
        title-classes='title'
        container-classes=''
    %}

    <div class="team">
      <div class="team-grid">
        {% for member in page_data.team %}
        <div class="team__member">
          <img class="team__member--img" src="{{member.link | prepend: site.baseurl}}" alt="{{ member.name }}" />
          <div class="team-member__info">
            <h3 class="team__member--name">{{member.name}}</h3>
            <em class="team__member--description">{{member.description}}</em>
            <p>
              {% if member.email %}
              <a class="team__member--email" href="mailto:{{ member.email }}">{{member.email}}</a>
              <br />
              {% endif %}
              {% for phone in member.phones %}
              <a class="team__member--phone" href="tel:{{phone}}">{{phone}}</a>
              <br />
              {% endfor %}
            </p>
          </div>
          <div class="team-member__social">
          {% if member.social %}
            <ul>
              {% for social in member.social %}
              <li class="{{ social.network | downcase }}"><a href="{{ social.url }}" title="{{ social.network }}" rel="noopener noreferrer" target="_blank">{{ social.network }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
