{% include core/head.html %}
{% include core/nav.html %}

{% assign pagetitle = page.title %}
{% assign object = site.translations[site.lang][pagetitle] %}
{% capture bg_class %}{{ page.title }}{% endcapture %}

<div class="internal">
  <div class="internal__header bg-{{bg_class}}">
    <h1 class="internal__header-title">
      {% t team.title %}
    </h1>
    <h3 class="internal__header-tagline">
      {% t team.tagline %}
    </h3>
  </div>
  <div class="container-fluid team">
    <h2 class="team__title">{% t team.subtitle %}</h2>
    <div class="row">
      {% for member in site.translations[site.lang]["team"]["team"] %}
      <div class="col-md-4">
        <div class="team__box">
          <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" class="rounded-circle img-fluid" alt="">
          <h4 class="team__box-title">{{ member['name']}}</h4>
          <h5 class="team__box-subtitle">{{ member['role']}}</h5>
          <p>
            <a href="{{ member['linkedin']}}" class="btn">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="mailto:{{ member['email']}}" class="btn">
              <i class="fa fa-envelope-o"></i>
            </a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include core/footer.html %}