---
layout: default
---

{% assign page_data = site.data.page__team[page.lang] %}

<section class="team-intro">

    <h1 class="title">{{page_data.title}}</h1>

    <div class="team">
        {% for item in page_data.team-row-one %}

            <div class="team__member">
                <img class="team__member--img" src={{item.link}} alt="">
                <span class="team__member--name">{{item.name}}</span>
                <span class="team__member--description">{{item.description}}</span>
                <a class="team__member--email" href="mailto:{{item.email}}">{{item.email}}</a>
                {% for phone in item.phones %}
                    <span class="team__member--phone">{{phone}}</span>
                {% endfor %}


            </div>

        {% endfor %}
    </div>

    <div class="team">
        {% for item in page_data.team-row-two %}

            <div class="team__member">
                <img class="team__member--img" src={{item.link}} alt="">
                <span class="team__member--name">{{item.name}}</span>
                <span class="team__member--description">{{item.description}}</span>
                <a class="team__member--email" href="mailto:{{item.email}}">{{item.email}}</a>
                {% for phone in item.phones %}
                    <span class="team__member--phone">{{phone}}</span>
                {% endfor %}


            </div>

        {% endfor %}
    </div>

</section>
